
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ccc;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 56px; /* Adjust margin-top to match the height of the navbar */
}
/* Navigation bar with horizontal layout */
.navbar {
    background-color: #333;
    padding: 0.5rem 1rem;
    position: fixed; /* Fixed position */
    top: 0; /* Position at the top of the viewport */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure the navbar appears above other content */
}

/* Ensure the list is displayed horizontally */
.navbar-nav {
    list-style: none; /* Remove bullet points */
    display: flex; /* Display nav items in a row */
    padding-left: 0; /* Remove padding */
    margin-bottom: 0; /* Remove margin */
}

.nav-item {
    padding: 0.5rem 1rem; /* Spacing around each nav item */
}

/* Orange color for navbar links */
.nav-link {
    color: #FFA726;
    text-decoration: none; /* Remove underline */
}

.nav-link:hover {
    color: #FFD580; /* Lighter orange color on hover */
}

h1, h2 {
    text-align: center; /* Center headings */
    width: 100%; /* Full width */
    margin: 10px 0; /* Spacing above and below headings */
}

form {
    background: #444; /* Slightly lighter form background for contrast */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 50%; /* Adjust the width of the form here */
    max-width: 500px; /* Maximum width of the form */
}


label {
    display: block;
    margin-bottom: 10px;
    color: #ccc; /* Lighter label color for better contrast */
}

input[type="text"],
input[type="submit"] {
    display: block; /* Center the input fields */
    width: 90%; /* Adjust the width of the input fields here */
    margin-left: auto; /* Center the input fields */
    margin-right: auto; /* Center the input fields */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #555; /* Lighter input field background for contrast */
    color: #ddd; /* Lighter input text color for contrast */
}

input[type="submit"] {
    background-color: #ff8c00; /* Orange color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
    background-color: #e67e22; /* Darker shade of orange for hover effect */
}
input[type="submit"]:hover {
    background-color: #4cae4c;
}