body {

    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    background: url('https://images4.alphacoders.com/132/1323682.png') no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: #FFA726;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}
/* Top Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    border-bottom: 1px solid #333;
    padding: 15px 30px; /* Added padding for space */
    justify-content: center; /* Center-aligned navbar content */
}

.navbar .navbar-brand {
    margin: 0 15px; /* Space between navbar items */
}

.navbar .ml-auto {
    margin-left: 20px; /* Space between navbar items and the form */
}

.form-inline input {
    border: 1px solid rgba(255, 255, 255, 0.5); /* Lightened border */
    border-radius: 4px; /* Slight rounded edges */
    margin-bottom: 0; /* Remove margin to align with the button */
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center; /* Centered headers */
}

a {
    color: #FFA726;
    text-decoration: none;
}



/* Main Content Wrapper */
.content-wrapper {

    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 40px 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Title Styling */


#movie_info, #star_info {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

#movie_info:hover, #star_info:hover {
    background-color: #292929;
}
/* buttons */
button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E55347;
}
#autocomplete {
    padding: 10px; /* Add padding for the input text */
    border: 1px solid #ccc; /* Add a border to the input */
    border-radius: 4px; /* Round the corners of the input field */
    font-size: 16px; /* Adjust font size */
    width: 30%; /* Set width to use available space within the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
/*fablix logo*/
.navbar a.navbar-brand[href="./main.html"] {
    font-size: 27px; /* or whatever size you prefer */
    color: #FF4500; /* a distinguishable color, adjust as needed */
    font-weight: bold;
}
.autocomplete-suggestions {
    border: 1px solid #999;
    background-color: #FFF; /* White background */
    overflow: auto;
    z-index: 9999; /* Ensure it's on top of other elements */
}

/* Style each suggestion */
.autocomplete-suggestion {
    padding: 10px;
    border-bottom: 1px solid #999;
    cursor: pointer;
    color: #000; /* Black text color for visibility */
}

/* Style the highlighted suggestion on hover or when active */
.autocomplete-suggestion:hover, .autocomplete-suggestion.autocomplete-selected {
    background-color: #ADD8E6; /* Light blue background for highlighting */
    color: #000; /* Black text color for visibility */
}