body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 1px solid #333;
    padding: 15px 30px; /* Added padding for space */
    justify-content: center; /* Center-aligned navbar content */
}

.navbar .navbar-brand {
    margin: 0 15px; /* Space between navbar items */
}

.navbar .ml-auto {
    margin-left: 20px; /* Space between navbar items and the form */
}

.form-inline input {
    border: 1px solid rgba(255, 255, 255, 0.5); /* Lightened border */
    border-radius: 4px; /* Slight rounded edges */
    margin-bottom: 0; /* Remove margin to align with the button */
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center; /* Centered headers */
}

a {
    color: #FFA726;
    text-decoration: none;
}
.styled-header {
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 1.5px;
    text-align: center; /* this will horizontally center the text */
}
.navbar a.navbar-brand[href="./main.html"] {
    font-size: 27px; /* or whatever size you prefer */
    color: #FF4500; /* a distinguishable color, adjust as needed */
    font-weight: bold;
}
.form-inline {
    margin-top: 10px; /* adjust the value as needed */
}
.form-inline input[type="text"] {
    height: 36px; /* Adjust the height as needed */
    font-size: 16px; /* Increase the font size */
    padding: 0 15px; /* Adjust the padding for the larger size */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Lightened border */
    border-radius: 4px; /* Slight rounded edges */
    margin-bottom: 0; /* Remove margin to align with the button */
}